.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
Temp
*.pidb
Build

/builds/

############################################################
# metaio ignore
############################################################
/Assets/StreamingAssets/MetaioSDKLicense.xml.meta
/Assets/StreamingAssets/MetaioSDKLicense.xml
/Assets/StreamingAssets.meta
/Assets/Resources/metaio/UnlitTexture.shader.meta
/Assets/Resources/metaio/UnlitTexture.shader
/Assets/Resources/metaio.meta
/Assets/Plugins/swscale-2.dll.meta
/Assets/Plugins/swscale-2.dll
/Assets/Plugins/swresample-0.dll.meta
/Assets/Plugins/swresample-0.dll
/Assets/Plugins/Shore140.dll.meta
/Assets/Plugins/Shore140.dll
/Assets/Plugins/pthreadVC2.dll.meta
/Assets/Plugins/pthreadVC2.dll
/Assets/Plugins/metaioSDK.dll.meta
/Assets/Plugins/metaioSDK.dll
/Assets/Plugins/metaioSDK.bundle/Contents/MacOS/metaioSDK.meta
/Assets/Plugins/metaioSDK.bundle/Contents/MacOS/metaioSDK
/Assets/Plugins/metaioSDK.bundle/Contents/MacOS.meta
/Assets/Plugins/metaioSDK.bundle/Contents.meta
/Assets/Plugins/metaioSDK.bundle.meta
/Assets/Plugins/iOS/metaiosdk.meta
/Assets/Plugins/iOS/metaiosdk
/Assets/Plugins/iOS.meta
/Assets/Plugins/Google.ProtocolBuffers.xml.meta
/Assets/Plugins/Google.ProtocolBuffers.xml
/Assets/Plugins/Google.ProtocolBuffers.Serialization.xml.meta
/Assets/Plugins/Google.ProtocolBuffers.Serialization.xml
/Assets/Plugins/Google.ProtocolBuffers.Serialization.dll.meta
/Assets/Plugins/Google.ProtocolBuffers.Serialization.dll
/Assets/Plugins/Google.ProtocolBuffers.dll.meta
/Assets/Plugins/Google.ProtocolBuffers.dll
/Assets/Plugins/avutil-52.dll.meta
/Assets/Plugins/avutil-52.dll
/Assets/Plugins/avformat-54.dll.meta
/Assets/Plugins/avformat-54.dll
/Assets/Plugins/avcodec-54.dll.meta
/Assets/Plugins/avcodec-54.dll
/Assets/Plugins/Android/metaiosdk.jar.meta
/Assets/Plugins/Android/metaiosdk.jar
/Assets/Plugins/Android/libswscale.so.meta
/Assets/Plugins/Android/libswscale.so
/Assets/Plugins/Android/libswresample.so.meta
/Assets/Plugins/Android/libswresample.so
/Assets/Plugins/Android/libmetaiosdk.so.meta
/Assets/Plugins/Android/libmetaiosdk.so
/Assets/Plugins/Android/libavutil.so.meta
/Assets/Plugins/Android/libavutil.so
/Assets/Plugins/Android/libavformat.so.meta
/Assets/Plugins/Android/libavformat.so
/Assets/Plugins/Android/libavcodec.so.meta
/Assets/Plugins/Android/libavcodec.so
/Assets/Plugins/Android/AndroidManifest.xml.meta
/Assets/Plugins/Android/AndroidManifest.xml
/Assets/Plugins/Android.meta
/Assets/metaio/Scripts/metaioTracker.cs.meta
/Assets/metaio/Scripts/metaioTracker.cs
/Assets/metaio/Scripts/metaioSDK.cs.meta
/Assets/metaio/Scripts/metaioSDK.cs
/Assets/metaio/Scripts/metaioMovieTexture.cs.meta
/Assets/metaio/Scripts/metaioMovieTexture.cs
/Assets/metaio/Scripts/metaioDeviceCamera.cs.meta
/Assets/metaio/Scripts/metaioDeviceCamera.cs
/Assets/metaio/Scripts/metaioCamera.cs.meta
/Assets/metaio/Scripts/metaioCamera.cs
/Assets/metaio/Scripts/metaioCallback.cs.meta
/Assets/metaio/Scripts/metaioCallback.cs
/Assets/metaio/Scripts.meta
/Assets/metaio/Prefabs/metaioTracker.prefab.meta
/Assets/metaio/Prefabs/metaioTracker.prefab
/Assets/metaio/Prefabs/metaioSDK.prefab.meta
/Assets/metaio/Prefabs/metaioSDK.prefab
/Assets/metaio/Prefabs.meta
/Assets/metaio/Editor/metaioTrackerEditor.cs.meta
/Assets/metaio/Editor/metaioTrackerEditor.cs
/Assets/metaio/Editor/metaioSDKEditor.cs.meta
/Assets/metaio/Editor/metaioSDKEditor.cs
/Assets/metaio/Editor/metaioMovieTextureEditor.cs.meta
/Assets/metaio/Editor/metaioMovieTextureEditor.cs
/Assets/metaio/Editor.meta
/Assets/metaio/Classes/VisualSearchResponse.cs.meta
/Assets/metaio/Classes/VisualSearchResponse.cs
/Assets/metaio/Classes/Vector4d.cs.meta
/Assets/metaio/Classes/Vector4d.cs
/Assets/metaio/Classes/Vector3d.cs.meta
/Assets/metaio/Classes/Vector3d.cs
/Assets/metaio/Classes/Vector2di.cs.meta
/Assets/metaio/Classes/Vector2di.cs
/Assets/metaio/Classes/Vector2d.cs.meta
/Assets/metaio/Classes/Vector2d.cs
/Assets/metaio/Classes/TrackingValues.cs.meta
/Assets/metaio/Classes/TrackingValues.cs
/Assets/metaio/Classes/MetaioSDKUnity.cs.meta
/Assets/metaio/Classes/MetaioSDKUnity.cs
/Assets/metaio/Classes/MetaioCamera.cs.meta
/Assets/metaio/Classes/MetaioCamera.cs
/Assets/metaio/Classes/MapLoader.cs.meta
/Assets/metaio/Classes/MapLoader.cs
/Assets/metaio/Classes/LLACoordinate.cs.meta
/Assets/metaio/Classes/LLACoordinate.cs
/Assets/metaio/Classes/Internal/UnityCommunicationProtos.cs.meta
/Assets/metaio/Classes/Internal/UnityCommunicationProtos.cs
/Assets/metaio/Classes/Internal.meta
/Assets/metaio/Classes/ColorFormat.cs.meta
/Assets/metaio/Classes/ColorFormat.cs
/Assets/metaio/Classes/AssetsManager.cs.meta
/Assets/metaio/Classes/AssetsManager.cs
/Assets/metaio/Classes.meta
/Assets/metaio.meta
#########################################################
# End metaio
#########################################################

